.waplist-video-goods {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 10;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    border: 1px rgba(255,255,255,.5) solid;
    border-radius: 6px;
    width: 30px;
    height: 16px;
    font-size: .6rem;
    line-height: 16px;
    text-align: center;
    color: white;
}
