#canvas{
    cursor:crosshair;
  overflow:hidden;
}

body{
  overflow:hidden;
}
.title{
  text-align: center;
  height: 38px;
  line-height: 38px;
  margin-top: 20%;
  color: #2daebf;
  font-size: 18px;
}
.btn{
  position: absolute;
  left: 0;
  right: 0;
  top: 73%;
}
.avater{
   width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid #dedede;
  -moz-box-shadow:0px 0px 20px #2daebf;
  -webkit-box-shadow:0px 0px 20px #2daebf;
  box-shadow:0px 0px 20px #2daebf;
  -webkit-animation-name: blue;
  animation-name: blue;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

}
.avater img{
  width: 100%
}

@keyframes blue {
  0% {
    background-color: #007d9a;
    -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
      background-color: #2daebf;
      -webkit-box-shadow: 0 0 18px #2daebf;
  }
  100% {
      background-color: #007d9a;
      -webkit-box-shadow: 0 0 9px #333;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
  }
  to{
    opacity: 0
  }
}
.text{
  position: absolute;
  right: 5px;
  top: 12px;
  text-align: left;
}
.text p{
  height: 28px;
  line-height: 28px;
  color: #fff;
  text-shadow:0px 0px 3px #0099E8;
}
.showtext{
  height: 60px;
  overflow: hidden;
}
#text{
  transition: top 2s
}

.start-page {
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  transition: all .4s ease-out;
  z-index: 1;
}

.heart-shape{position:relative;width:30px;height:30px;background-color:red;border-radius:3px;transform:rotate(45deg);top:50%;left:50%;margin:-15px;}
.heart-shape:before{content:'';position:absolute;width:30px;height:30px;background-color:red;border-radius:50%;top:0px;left:-15px;}
.heart-shape:after{position:absolute;width:30px;height:30px;content:'';background-color:red;border-radius:50%;left:0px;top:-15px;}

.somewords{
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  background: #dedede;
  padding: 8px;
}
.somewords p{
  line-height: 24px;
  text-indent: 2em
}